<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="description" content="Basic to-do app with Vue.js 2.1">
  <meta name="author"  content="https://styde.net">
  <link rel="icon" type="image/png" href="check.png" />

  <title>Curso de VueJs - Styde.net</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">

  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="container" id="app">
    <h4>Todas las tareas:</h4>
    <ul>
      <li v-for="task in tasks" :class="{ 'texto-tachado': !task.pending }" @click="updatePending(task)">
        {{ task.title }}
      </li>
    </ul>

    <h4 v-if="pendingTasks.length">Solo las tareas pendientes:</h4>
    <ul v-if="pendingTasks.length">
      <li v-for="task of pendingTasks" @click="updatePending(task)">
        {{ task.title }}
      </li>
    </ul>

<!--
    <input type="text"
              class="form-control"
              v-model="new_task"
              v-on:keyup.enter="createTask">   "enter es un modificador" (?)
    <button class="btn btn-primary" v-on:click="createTask">Crear tarea</button> -->

  <form> <!-- @ es un atajo de v-on: -->
    <input type="text"
              class="form-control"
              v-model="new_task">
    <button class="btn btn-primary" @click="createTask(true, $event)">Crear tarea pendiente</button>
    <button class="btn btn-info" @click="createTask(false, $event)">Crear tarea completada</button>
  </form>

    <footer>
      <p>&copy; 2017 Styde.net</p>
    </footer>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
  <script>
  var vm = new Vue({
    el:'#app',
    data: {
      new_task: '',
      tasks: [
        {
          title: 'Aprender javaScript',
          pending: true
        },
        {
          title: 'Practicar Inglés',
          pending: false
        },
        {
          title: 'Cocinar el almuerzo',
          pending: false
        }
      ]
    },
    methods: {
      createTask: function(pending, event){
        event.preventDefault();
        this.tasks.push({
          title: this.new_task,
          pending: pending
        });
        this.new_task = '';
      },
      updatePending: function(task){
      //Ejercicio! cambiar el estado de la tarea del parámetro. Cómo cambiarla en el array tasks.
      //A la tarea que se envía, se le asigna el valor opuesto.
      task.pending = !task.pending;
      }
    },
    computed: {
      pendingTasks: function(){
        return this.tasks.filter(function(item){
          return item.pending;
        });
      }
    }
  });
  </script>
</body>
</html>
