<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="description" content="Curso de Vue 2">
  <meta name="author"  content="https://styde.net">
  <link rel="icon" type="image/png" href="check.png" />

  <title>Curso de Vue 2 - Styde.net</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">

  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div id="app" class="container">
    <h2>Tareas</h2>

    <ul class="list-group tasks">
      <li is="app-task" v-for="(tarea, indice) in tasks" :index="indice" :task="tarea" @remove="deleteTask"></li> <!-- Este componente hace referencia a una tarea puntual -->
    </ul>                                                                                                                   <!--evento personal @remove-->

    <p v-if="tasks.length != 0">
      <a @click="deleteCompleted">Eliminar tareas completadas</a>
    </p>
    <h4 v-else>Cantidad de tareas: 0. Complete el campo "Descripción" e ingrese una nueva tarea.</h4>

      <form class="new-task-form" @submit.prevent="createTask">
        <input type="text" class="form-control" v-model="new_task" placeholder="Descripción de tarea">
        <button class="btn btn-primary">Crear tarea</button>
      </form>

    <footer>
      <p>&copy; 2017 Styde.net.</p>
    </footer>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>

  <script  id="task-template" type="text/x-template">
  <li class="list-group-item" :class="{ editing: editing, completed: !task.pending }">
    <a @click="toggleStatus">
      <app-icon :img="task.pending ? 'unchecked' : 'check' "></app-icon>
    </a>

    <template v-if="!editing">
      <span class="description">{{ task.description }}</span>
      <div>
        <a @click="edit">
          <app-icon img="edit"></app-icon>
        </a>
        <a @click="remove"> <!--evento que hará que se ejecute el evento personalizado @remove-->
          <app-icon img="trash"></app-icon>
        </a>
      </div>
    </template>

    <template v-else>
      <input type="text" v-model="draft">
      <div>
        <a @click="update">
          <app-icon img="ok"></app-icon>
        </a>
        <a @click="cancel">
          <app-icon img="remove"></app-icon>
        </a>
      </div>
    </template>
  </li>
  </script>

  <script src="js/main.js"></script>
</body>
</html>
