<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="description" content="Curso de Vue 2">
  <meta name="author"  content="https://styde.net">
  <link rel="icon" type="image/png" href="check.png" />

  <title>Curso de Vue 2 - Styde.net</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">

  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div id="app" class="container">
    <h2>Tareas</h2>

    <ul class="list-group tasks">
      <li class="list-group-item" v-for="task in tasks"
            :class="{ editing: task.editing, completed: !task.pending }">
        <a href="#"><span class="glyphicon"
                                      :class="task.pending ? 'glyphicon-unchecked' : 'glyphicon-check' "
                                       aria-hidden="true"></span></a>

        <template v-if="!task.editing">
          <span class="description">{{ task.description }}</span>
          <div>
            <a href="#">
              <span class="glyphicon glyphicon-edit"
                        aria-hidden="true"></span>
            </a>
            <a href="#">
              <span class="glyphicon glyphicon-trash"
                        aria-hidden="true"></span>
            </a>
          </div>
        </li>
        </template>

        <template v-else>
          <input type="text" v-model="task.description">
          <div>
            <a href="#">
              <span class="glyphicon glyphicon-ok"
                        aria-hidden="true"></span>
            </a>
            <a href="#">
              <span class="glyphicon glyphicon-remove"
                        aria-hidden="true"></span>
            </a>
          </div>
        </template>



      <!--
      <li class="list-group-item editing">
        <a href="#"><span class="glyphicon glyphicon-unchecked"
                                       aria-hidden="true"></span></a>
        <input type="text" value="Suscribirse en Styde">

      </li>
      <li class="list-group-item completed">
        <a href="#"><span class="glyphicon glyphicon-check"
                                       aria-hidden="true"></span></a>
        <span class="description">Crear una API</span>
        <div>
          <a href="#">
            <span class="glyphicon glyphicon-edit"
                      aria-hidden="true"></span>
          </a>
          <a href="#">
            <span class="glyphicon glyphicon-trash"
                      aria-hidden="true"></span>
          </a>
        </div>
      </li> -->
    </ul>

      <form class="new-task-form">
        <input type="text" class="form-control">
        <button class="btn btn-primary">Crear tarea</button>
      </form>

    <footer>
      <p>&copy; 2017 Styde.net.</p>
    </footer>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        tasks: [
          {
            description: 'Aprender Vue.js',
            pending: true,
            editing: false
          },
          {
            description: 'Aprender a maquetar',
            pending: true,
            editing: true
          },
          {
            description: 'Escuchar radio',
            pending: false,
            editing: false
          }
        ]
      }
    });
  </script>
</body>
</html>
