<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="description" content="Curso de Vue 2">
  <meta name="author"  content="https://styde.net">
  <link rel="icon" type="image/png" href="check.png" />

  <title>Curso de Vue 2 - Styde.net</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">

  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div id="app" class="container">
    <h2>Tareas</h2>

    <ul class="list-group tasks">
      <li class="list-group-item" v-for="task in tasks"
            :class="{ editing: task.editing, completed: !task.pending }">
        <a href="#"><span class="glyphicon"
                                      :class="task.pending ? 'glyphicon-unchecked' : 'glyphicon-check' "
                                      aria-hidden="true"
                                      @click="toggleStatus(task)">
                            </span></a>

        <template v-if="!task.editing">
          <span class="description">{{ task.description }}</span>
          <div>
            <a href="#">
              <span class="glyphicon glyphicon-edit"
                         aria-hidden="true"
                        @click="editTask(task)">
              </span>
            </a>
            <a href="#">
              <span class="glyphicon glyphicon-trash"
                         aria-hidden="true"></span>
            </a>
          </div>
        </template>

        <template v-else>
          <input type="text" v-model="draft">
          <div>
            <a href="#">
              <span class="glyphicon glyphicon-ok"
                        aria-hidden="true" @click="updateTask(task)"></span>
            </a>
            <a href="#">
              <span class="glyphicon glyphicon-remove"
                        aria-hidden="true" @click="cancelUpdate(task)"></span>
            </a>
          </div>
        </template>
      </li>
    </ul>

      <form class="new-task-form" @submit.prevent="createTask">
        <input type="text" class="form-control" v-model="new_task">
        <button class="btn btn-primary">Crear tarea</button>
      </form>

    <footer>
      <p>&copy; 2017 Styde.net.</p>
    </footer>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
