<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="description" content="Basic to-do app with Vue.js 2.1">
  <meta name="author"  content="https://styde.net">
  <link rel="icon" href="favicon.ico">

  <title>Lección 1 - Vue 2 - Styde.net</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">

  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div id="app"class="container">
    <div v-if="!formSubmitted">
      <form @submit.prevent="submitForm">
        <h4>Registrate</h4>
          <div class="form-group">
            <label for="first_name">Nombre:</label>
            <input type="text" id="first_name" class="form-control" v-model="first_name">
          </div>
          <div class="form-group">
            <label for="last_name">Apellido:</label>
            <input type="text" id="last_name" class="form-control" v-model="last_name">
          </div>
          <button type="submit" class="btn btn-primary" :disabled="!isFormValid()">Continuar</button>
      </form>
    </div>
    <div v-else>
      <h2 v-once>{{ project }}</h2>
      <h4>Bienvenido {{ first_name.toUpperCase()}} {{ last_name + '!!' }}</h4>
      <h5>{{ first_name }} al revés: {{ reversedName }}</h5>
    </div>
    <footer>
      <p>&copy; 2017 Styde.net</p>
    </footer>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
  <script>
  // objeto vm == instancia de Vue
  new Vue({
    el:"#app",
    data: {
      first_name:  '', //Siempre hay que inicializar las propiedades/variables del objeto data
      last_name: '',
      formSubmitted: false,
      project: 'Vue'
    },

    computed: { //Son propiedades dinámicas, dependen del valor de otras propiedades
      reversedName: function(){
        return this.first_name.split('').reverse().join('');
      }
    },
    methods: {
      isFormValid: function(){
        return this.first_name != '' && this.last_name != '';
      },
      submitForm: function(){
        if(!this.isFormValid()) return;
        this.formSubmitted= true;
      }
    }
  });
  </script>
</body>
</html>
